In [57]:
import numpy as np
import pandas as pd

In [58]:
credits = pd.read_csv('credits.csv')
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': '5894a909925141427e0079a5...","[{'credit_id': '5894a97d925141426c00818c', 'department': 'Directing', '...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela', 'credit_id': '52fe4af1...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'department': 'Directing', '...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'credit_id': '52fe4776c3a368...","[{'credit_id': '52fe4776c3a368484e0c8387', 'department': 'Directing', '...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': '52fe4ea59251416c7515d7d5...","[{'credit_id': '533bccebc3a36844cf0011a7', 'department': 'Directing', '...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '...",461257

In [59]:
meta = pd.read_csv('movies_metadata.csv')

S:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [60]:
meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915Lf...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthda...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id':...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an enchanted board game that open...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'F...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nL...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud between next-door neighbors...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1074...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their brea...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you for...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': ...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he re...",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of Hi...,Father of the Bride Part II,False,5.7,173.0

In [61]:
meta['release_date']=pd.to_datetime(meta['release_date'],errors='coerce')

In [62]:
meta['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]

meta[

In [63]:
meta['year']=meta['release_date'].dt.year
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [64]:
data_nan = [features for features in meta.columns if meta[features].isnull().sum()]

In [65]:
for feature in data_nan :
    print(feature,'having',np.round(meta[feature].isnull().mean(),4),'% missing values')

belongs_to_collection having 0.9012 % missing values
homepage having 0.8288 % missing values
imdb_id having 0.0004 % missing values
original_language having 0.0002 % missing values
overview having 0.021 % missing values
popularity having 0.0001 % missing values
poster_path having 0.0085 % missing values
production_companies having 0.0001 % missing values
production_countries having 0.0001 % missing values
release_date having 0.002 % missing values
revenue having 0.0001 % missing values
runtime having 0.0058 % missing values
spoken_languages having 0.0001 % missing values
status having 0.0019 % missing values
tagline having 0.551 % missing values
title having 0.0001 % missing values
video having 0.0001 % missing values
vote_average having 0.0001 % missing values
vote_count having 0.0001 % missing values
year having 0.002 % missing values

In [66]:
# getting only 2017 movies because we already having a up to 2016 movies
# for 2018,2019,2020 not having enough data so we are not considering . we will deal it with upcoming preprocessing files
new_meta = meta.loc[meta.year==2017,['genres','id','title','year']]

In [67]:
new_meta

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [68]:
new_meta['id']=new_meta['id'].astype(int)

In [69]:
data = pd.merge(new_meta,credits,on='id')

In [70]:
pd.set_option('display.max_colWidth',75)
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [71]:
data['genres'].dtype

dtype('O')

In [72]:
import ast
data['genres']=data['genres'].map(lambda x : ast.literal_eval(x))
data['cast']=data['cast'].map(lambda x : ast.literal_eval(x))
data['crew']=data['crew'].map(lambda x : ast.literal_eval(x))

In [73]:
def genres_list(x):
    gen=[]
    for i in x:
        if i.get('name')=='Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen==[]:
        return np.NaN
    else:
        return (" ".join(gen))

In [74]:
data['genres']=data['genres'].map(lambda x:genres_list(x))

In [75]:
data.head(10)

,genres,id,title,year,cast,crew
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
5,Thriller Adventure,279988,Extinction: Nature Has Evolved,2017.0,"[{'cast_id': 3, 'character': 'Professor John Howson', 'credit_id': '53b...","[{'credit_id': '53b4a061c3a3685eb7000232', 'department': 'Directing', '..."
6,Drama Comedy,326241,For Here or to Go?,2017.0,"[{'cast_id': 1, 'character': 'Vivek Pandit', 'credit_id': '58b338499251...","[{'credit_id': '54efa9bb9251417968006b3b', 'department': 'Directing', '..."
7,Action Fantasy Sci-Fi,354556,Guardians,2017.0,"[{'cast_id': 2, 'character': 'Arseniy / Arsus', 'credit_id': '5707c4399...","[{'credit_id': '5707c405925141708d0000ef', 'department': 'Directing', '..."
8,Comedy,306943,The Outcasts,2017.0,"[{'cast_id': 0, 'character': 'Jodi Watson', 'credit_id': '547b4244c3a36...","[{'credit_id': '5558894dc3a3687772008e31', 'department': 'Art', 'gender..."
9,Action Adventure Fantasy,297762,Wonder Woman,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman / Diana Prince', 'credit_id'...","[{'credit_id': '56a93fca9251417dcb001e9f', 'department': 'Writing', 'ge..."

In [76]:
data['cast'][1]

[{'cast_id': 2,
  'character': 'Bruce Wayne / Batman',
  'credit_id': '535e68db0e0a264fe10065f5',
  'gender': 2,
  'id': 880,
  'name': 'Ben Affleck',
  'order': 0,
  'profile_path': '/cPuPt6mYJ83DjvO3hbjNGug6Fbi.jpg'},
 {'cast_id': 1,
  'character': 'Clark Kent / Superman',
  'credit_id': '535e68ce0e0a264fe5006939',
  'gender': 2,
  'id': 73968,
  'name': 'Henry Cavill',
  'order': 1,
  'profile_path': '/h8bn6ybR5Hu58UGJGwb66nrOagV.jpg'},
 {'cast_id': 3,
  'character': 'Diana Prince / Wonder Woman',
  'credit_id': '535e68fb0e0a264fe10065fa',
  'gender': 1,
  'id': 90633,
  'name': 'Gal Gadot',
  'order': 2,
  'profile_path': '/34kHAyBaBhq2kUrmhM15paEBuuI.jpg'},
 {'cast_id': 9,
  'character': 'Arthur Curry / Aquaman',
  'credit_id': '5447be300e0a261120002217',
  'gender': 2,
  'id': 117642,
  'name': '杰森·莫玛',
  'order': 3,
  'profile_path': '/tTONqzQuAnuMlfM5E0nU9RWukOE.jpg'},
 {'cast_id': 7,
  'character': 'Barry Allen / The Flash',
  'credit_id': '543ec9a1c3a3684fe9000178',
  'gender': 2,
  'id': 132157,
  'name': 'Ezra Miller',
  'order': 4,
  'profile_path': '/1tgihUq8F6zPHU9IYyRZ7vI6nme.jpg'},
 {'cast_id': 8,
  'character': 'Victor Stone / Cyborg',
  'credit_id': '543ec9d2c3a3684fd50001a8',
  'gender': 2,
  'id': 1313559,
  'name': 'Ray Fisher',
  'order': 5,
  'profile_path': '/130RBXNLxbp6DbzVFQT90RFLmxD.jpg'},
 {'cast_id': 27,
  'character': 'Steppenwolf',
  'credit_id': '581f3983c3a3685fe600633f',
  'gender': 2,
  'id': 8785,
  'name': 'Ciarán Hinds',
  'order': 6,
  'profile_path': '/h5n8B12WoY1UAZjzSVEup4vsoBw.jpg'},
 {'cast_id': 25,
  'character': 'Lex Luthor',
  'credit_id': '578ffa91925141343e004d56',
  'gender': 2,
  'id': 44735,
  'name': 'Jesse Eisenberg',
  'order': 7,
  'profile_path': '/qTvksu7NaWL3prXTe2JrFYU4gHo.jpg'},
 {'cast_id': 10,
  'character': 'Lois Lane',
  'credit_id': '5447be450e0a2672da0026aa',
  'gender': 1,
  'id': 9273,
  'name': 'Amy Adams',
  'order': 8,
  'profile_path': '/5lYjMXl7xhG4gUu1XYqh6Dsni2K.jpg'},
 {'cast_id': 16,
  'character': 'Mera',
  'credit_id': '569762e8c3a3683af0001a74',
  'gender': 1,
  'id': 55085,
  'name': 'Amber Heard',
  'order': 9,
  'profile_path': '/ft4ACLVFBXaOotbicBLm1fODyZr.jpg'},
 {'cast_id': 18,
  'character': 'Commissioner James Gordon',
  'credit_id': '56de589d92514157550001f1',
  'gender': 2,
  'id': 18999,
  'name': 'J.K. Simmons',
  'order': 10,
  'profile_path': '/jPoNW5fugs5h8AbcE7H5OBm04Tm.jpg'},
 {'cast_id': 22,
  'character': 'Alfred Pennyworth',
  'credit_id': '578ffa639251411da7003016',
  'gender': 2,
  'id': 16940,
  'name': 'Jeremy Irons',
  'order': 11,
  'profile_path': '/dulUTsivRm5XC7hWCYm54rjqWDs.jpg'},
 {'cast_id': 23,
  'character': 'Nuidis Vulko',
  'credit_id': '578ffa77c3a3685c8c0049cb',
  'gender': 2,
  'id': 5293,
  'name': 'Willem Dafoe',
  'order': 12,
  'profile_path': '/xM5lhOR5tWWdIlFpBDeZJx9opIP.jpg'},
 {'cast_id': 45,
  'character': 'Martha Kent',
  'credit_id': '58952dd492514129c8000679',
  'gender': 1,
  'id': 2882,
  'name': 'Diane Lane',
  'order': 13,
  'profile_path': '/tUPAKAtstqeQrAKhkQge9jV7Owz.jpg'},
 {'cast_id': 46,
  'character': 'Queen Hippolyta',
  'credit_id': '58952e09c3a36808a20041e9',
  'gender': 1,
  'id': 935,
  'name': 'Connie Nielsen',
  'order': 14,
  'profile_path': '/lvQypTfeH2Gn2PTbzq6XkT2PLmn.jpg'},
 {'cast_id': 28,
  'character': 'Iris West',
  'credit_id': '5827bd869251417b23020298',
  'gender': 1,
  'id': 1253355,
  'name': 'Kiersey Clemons',
  'order': 15,
  'profile_path': '/sOXELJHizB1cK0OzWRubGGg4l8S.jpg'},
 {'cast_id': 48,
  'character': 'Henry Allen',
  'credit_id': '58d69aa492514103d202bbf4',
  'gender': 2,
  'id': 8289,
  'name': 'Billy Crudup',
  'order': 16,
  'profile_path': '/pYblSarjmmIUggmOafanD2yk0Zj.jpg'},
 {'cast_id': 49,
  'character': 'Silas Stone',
  'credit_id': '58d69d02c3a368126f03d546',
  'gender': 2,
  'id': 3977,
  'name': 'Joe Morton',
  'order': 17,
  'profile_path': '/5adJxjbFX2GeuTTCNqc9dg4Twgx.jpg'},
 {'cast_id': 26,
  'character': 'TBA',
  'credit_id': '57d9aa51c3a36852f4007af1',
  'gender': 2,
  'id': 109650,
  'name': 'Julian Lewis Jones',
  'order': 18,
  'profile_path': '/yYB4vsidFakP6oAfeXU3PZvDpM6.jpg'},
 {'cast_id': 33,
  'character': "Lex Luthor's Guard",
  'credit_id': '5840c1329251417d53000a7e',
  'gender': 1,
  'id': 1389198,
  'name': 'Gemma Refoufi',
  'order': 19,
  'profile_path': '/drwGzHpj54bWNZQHUCxrLcOMl1w.jpg'},
 {'cast_id': 34,
  'character': 'Air Force Security Officer',
  'credit_id': '5840c14bc3a36865c9000a15',
  'gender': 0,
  'id': 1717128,
  'name': 'Kelly Burke',
  'order': 20,
  'profile_path': '/x3cZAtZPkoEIisvPGxbrU8U4nkp.jpg'},
 {'cast_id': 35,
  'character': 'Paramedic Gotham City Hospital',
  'credit_id': '5840c16e9251417d5c000a3c',
  'gender': 0,
  'id': 1417539,
  'name': 'Paulina Boneva',
  'order': 21,
  'profile_path': '/h79tJ7YXrTmjOnRC6eSwyaUg1OU.jpg'},
 {'cast_id': 64,
  'character': 'Front Row Football Fan',
  'credit_id': '593a7588c3a368230500b742',
  'gender': 1,
  'id': 1717130,
  'name': 'Alexandra Ford',
  'order': 22,
  'profile_path': '/fbQWfmYoEMV6ixYSLCjYL2RhztS.jpg'},
 {'cast_id': 42,
  'character': 'Menalippe',
  'credit_id': '5840c2a4c3a36865b6000b22',
  'gender': 1,
  'id': 1310711,
  'name': 'Lisa Loven Kongsli',
  'order': 23,
  'profile_path': '/pwT0UuQ1tsleh3urfabVRj0UE3S.jpg'},
 {'cast_id': 43,
  'character': 'Epione',
  'credit_id': '5840c3109251417d59000b13',
  'gender': 0,
  'id': 62976,
  'name': 'Eleanor Matsuura',
  'order': 24,
  'profile_path': '/6ZbBU8ESZw8wTOdmqF9WJd2I9Gt.jpg'},
 {'cast_id': 50,
  'character': 'TBA',
  'credit_id': '58f54390c3a3680e50003f15',
  'gender': 2,
  'id': 73288,
  'name': 'Michael McElhatton',
  'order': 25,
  'profile_path': '/yNwAo0LGS9fLd6Hathxt0wN6r9O.jpg'},
 {'cast_id': 51,
  'character': 'Ancient Warrior',
  'credit_id': '5921ea3c9251414add05b128',
  'gender': 2,
  'id': 1481440,
  'name': 'Daniel Stisen',
  'order': 26,
  'profile_path': '/jhyIFfBnM5nLhHdpFiGIW6qk9x5.jpg'},
 {'cast_id': 52,
  'character': 'Euboea',
  'credit_id': '5921ea4dc3a368799b05a5fb',
  'gender': 1,
  'id': 1272968,
  'name': 'Samantha Jo',
  'order': 27,
  'profile_path': '/aHUB2vNo5ZbOVnlmqJ4SkUpDXrk.jpg'}]

In [77]:
def actor_1 (x):
    casts=[]
    for i in x:
        casts.append(i.get('name'))
    if casts==[]:
        return np.NaN
    else:
        return (casts[0])

In [78]:
def actor_2 (x):
    casts=[]
    for i in x:
        casts.append(i.get('name'))
    if casts==[] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [79]:
def actor_3 (x):
    casts=[]
    for i in x:
        casts.append(i.get('name'))
    if casts==[] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [80]:
data['actor_1_name']=data['cast'].map(lambda x: actor_1(x))

In [81]:
data['actor_2_name']=data['cast'].map(lambda x: actor_2(x))

In [82]:
data['actor_3_name']=data['cast'].map(lambda x: actor_3(x))

In [83]:
data['crew'][1]

[{'credit_id': '55ef66dbc3a3686f1700a52d',
  'department': 'Production',
  'gender': 0,
  'id': 282,
  'job': 'Producer',
  'name': 'Charles Roven',
  'profile_path': '/4uJLoVstC1CBcArXFOe53N2fDr1.jpg'},
 {'credit_id': '594287cfc3a3686c2c00bc9f',
  'department': 'Sound',
  'gender': 2,
  'id': 531,
  'job': 'Music',
  'name': 'Danny Elfman',
  'profile_path': '/pWacZpYPos8io22nEiim7d3wp2j.jpg'},
 {'credit_id': '58cf4361c3a36850f302b9ce',
  'department': 'Production',
  'gender': 2,
  'id': 880,
  'job': 'Executive Producer',
  'name': 'Ben Affleck',
  'profile_path': '/cPuPt6mYJ83DjvO3hbjNGug6Fbi.jpg'},
 {'credit_id': '545b5d980e0a261fa9001af9',
  'department': 'Writing',
  'gender': 2,
  'id': 3893,
  'job': 'Writer',
  'name': 'David S. Goyer',
  'profile_path': '/vh0ULL0N22JlVlQ5mXFmreA6Ubz.jpg'},
 {'credit_id': '5921ebc5c3a368799b05a733',
  'department': 'Production',
  'gender': 1,
  'id': 2953,
  'job': 'Casting',
  'name': 'Lora Kennedy',
  'profile_path': '/iLrYUr57iX8LdHxnh3bflegzWuE.jpg'},
 {'credit_id': '583b404f925141546500111f',
  'department': 'Writing',
  'gender': 2,
  'id': 3794,
  'job': 'Characters',
  'name': 'Bob Kane',
  'profile_path': '/vuXwrlqaUydA4t5SFVdQkK9KsZL.jpg'},
 {'credit_id': '5921ebddc3a368799b05a74c',
  'department': 'Art',
  'gender': 2,
  'id': 3964,
  'job': 'Production Design',
  'name': 'Patrick Tatopoulos',
  'profile_path': '/74JOnC7DLU4uDwNzQX80oLX5Giy.jpg'},
 {'credit_id': '5921ec049251414a7b05e26d',
  'department': 'Costume & Make-Up',
  'gender': 2,
  'id': 5392,
  'job': 'Costume Design',
  'name': 'Michael Wilkinson',
  'profile_path': None},
 {'credit_id': '578ff7f39251411da7002f09',
  'department': 'Editing',
  'gender': 2,
  'id': 6051,
  'job': 'Editor',
  'name': 'David Brenner',
  'profile_path': None},
 {'credit_id': '59a65223c3a36827560052c9',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Writer',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '535e68b90e0a264fe10065f1',
  'department': 'Directing',
  'gender': 2,
  'id': 15217,
  'job': 'Director',
  'name': 'Zack Snyder',
  'profile_path': '/vdr0DlKJH4Ub7nWZtkanBH65bGH.jpg'},
 {'credit_id': '55ef66729251412c32004fe9',
  'department': 'Writing',
  'gender': 2,
  'id': 15217,
  'job': 'Writer',
  'name': 'Zack Snyder',
  'profile_path': '/vdr0DlKJH4Ub7nWZtkanBH65bGH.jpg'},
 {'credit_id': '5921ebba9251414ab105ac1f',
  'department': 'Production',
  'gender': 0,
  'id': 17610,
  'job': 'Casting',
  'name': 'Kristy Carlson',
  'profile_path': None},
 {'credit_id': '583b40729251415462001185',
  'department': 'Writing',
  'gender': 0,
  'id': 20007,
  'job': 'Characters',
  'name': 'Jerry Siegel',
  'profile_path': '/tpkgpm3pHrkSNewoDasKz6Chpg4.jpg'},
 {'credit_id': '583b408ec3a3687bc3001047',
  'department': 'Writing',
  'gender': 0,
  'id': 20008,
  'job': 'Characters',
  'name': 'Joe Shuster',
  'profile_path': None},
 {'credit_id': '578ffa419251410c0600064a',
  'department': 'Sound',
  'gender': 2,
  'id': 56827,
  'job': 'Original Music Composer',
  'name': 'Junkie XL',
  'profile_path': '/A4ppyrEpx4t96BALthouYItfFEH.jpg'},
 {'credit_id': '5921ead6c3a368723d0608d3',
  'department': 'Production',
  'gender': 2,
  'id': 66821,
  'job': 'Producer',
  'name': 'Jon Berg',
  'profile_path': None},
 {'credit_id': '5921eae3c3a3687a8e05ab46',
  'department': 'Production',
  'gender': 0,
  'id': 79242,
  'job': 'Executive Producer',
  'name': 'Wesley Coller',
  'profile_path': '/liHN0gb0T1jbya05NF0GllSzwYc.jpg'},
 {'credit_id': '55ef66c99251413e3e01c1e4',
  'department': 'Production',
  'gender': 1,
  'id': 79243,
  'job': 'Producer',
  'name': 'Deborah Snyder',
  'profile_path': None},
 {'credit_id': '5921eb169251414a7b05e1ab',
  'department': 'Production',
  'gender': 0,
  'id': 78135,
  'job': 'Co-Producer',
  'name': 'Gregory Wilson',
  'profile_path': None},
 {'credit_id': '5921eaf8c3a368799b05a688',
  'department': 'Production',
  'gender': 2,
  'id': 123292,
  'job': 'Line Producer',
  'name': 'Finni Johannsson',
  'profile_path': '/47x5yH8KgkTKqcZ3HAxQKtJT4m8.jpg'},
 {'credit_id': '5921eb07c3a3687a4b05972c',
  'department': 'Production',
  'gender': 0,
  'id': 131680,
  'job': 'Executive Producer',
  'name': 'Chris Terrio',
  'profile_path': '/fALSMZJLffFzhD1WM6cowV2M6wt.jpg'},
 {'credit_id': '545b5daac3a368535d0012e1',
  'department': 'Writing',
  'gender': 0,
  'id': 131680,
  'job': 'Writer',
  'name': 'Chris Terrio',
  'profile_path': '/fALSMZJLffFzhD1WM6cowV2M6wt.jpg'},
 {'credit_id': '583b4041925141546200116e',
  'department': 'Writing',
  'gender': 0,
  'id': 198034,
  'job': 'Characters',
  'name': 'Bill Finger',
  'profile_path': '/8YNi67GimJjHTmXR3nUhkEJGV95.jpg'},
 {'credit_id': '56a39423c3a368388e00308a',
  'department': 'Production',
  'gender': 2,
  'id': 211962,
  'job': 'Executive Producer',
  'name': 'Geoff Johns',
  'profile_path': '/xkaRZu1o1NILQ4PcRXqnjOrJ0Y0.jpg'},
 {'credit_id': '578ff9ed9251410c2800052c',
  'department': 'Camera',
  'gender': 0,
  'id': 1345974,
  'job': 'Director of Photography',
  'name': 'Fabian Wagner',
  'profile_path': '/uovLA9I5UYgiDdRt9pNbcDQh89U.jpg'},
 {'credit_id': '586d071fc3a368038f0081c8',
  'department': 'Crew',
  'gender': 2,
  'id': 1467461,
  'job': 'Special Effects',
  'name': 'Taylor Brown',
  'profile_path': '/oONAdCTWky49Rj5Ey0QiSkgVju8.jpg'},
 {'credit_id': '5921ec2bc3a3687a4b05981a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1821154,
  'job': 'Makeup Artist',
  'name': 'Emmy Beech',
  'profile_path': None}]

In [90]:
def get_directors(x):
    direct=[]
    for i in x:
        if(i.get('job')=='Director'):
            direct.append(i.get('name'))
    if direct==[]:
        return np.NaN
    else:
        return(" ".join(direct))

In [91]:
data['director_name']=data['crew'].map(lambda x: get_directors(x))

In [92]:
data.head()

,genres,id,title,year,cast,crew,actor_1_name,actor_2_name,actor_3_name,director_name
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim Rønning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara

In [93]:
movie=data.loc[:,['genres','actor_1_name','actor_2_name','actor_3_name','title','director_name']]

In [94]:
movie.head(20)

,genres,actor_1_name,actor_2_name,actor_3_name,title,director_name
0,Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Pirates of the Caribbean: Dead Men Tell No Tales,Joachim Rønning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Justice League,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Thor: Ragnarok,Taika Waititi
3,Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,Guardians of the Galaxy Vol. 2,James Gunn
4,Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,The King's Daughter,Sean McNamara
5,Thriller Adventure,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Extinction: Nature Has Evolved,Adam Spinks
6,Drama Comedy,Ali Fazal,Melanie Chandra,Omi Vaidya,For Here or to Go?,Rucha Humnabadkar
7,Action Fantasy Sci-Fi,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Guardians,Sarik Andreasyan
8,Comedy,Victoria Justice,Eden Sher,Ashley Rickards,The Outcasts,Peter Hutchings
9,Action Adventure Fantasy,Gal Gadot,Chris Pine,Robin Wright,Wonder Woman,Patty Jenkins
10,Animation Adventure Comedy Action Family,Chris Murphy,Ian James Corlett,Matt Olsen,Sly Cooper,Kevin Munroe
11,Drama Thriller Sci-Fi,Emma Watson,Tom Hanks,John Boyega,The Circle,James Ponsoldt
12,Comedy,Anna Kendrick,Rebel Wilson,Brittany Snow,Pitch Perfect 3,Trish Sie
13,NaN,Donnie Yen,NaN,NaN,The Master,NaN
14,Horror,Ethan Embry,Shiri Appleby,Kiara Glasco,The Devil's Candy,Sean Byrne
15,Drama,Violeta Castillo,Ingrid Isensee,Mauricio Vaca,Las Plantas,Roberto Doveris
16,Comedy Horror,Asta Paredes,Catherine Corcoran,Zac Amino,"Return to Return to Nuke 'Em High, aka Volume 2",Lloyd Kaufman
17,TV Movie Thriller,Amanda Leighton,Samantha Boscarino,Hannah Kasulka,The Cheerleader Murders,David Jackson
18,Comedy,Demetri Martin,Gillian Jacobs,Christine Woods,Dean,Demetri Martin
19,Horror,Stephen Dorff,Lili Taylor,Sam Strike,Leatherface,Alexandre Bustillo Julien Maury

In [95]:
movie.isnull().sum()

genres            7
actor_1_name     22
actor_2_name     55
actor_3_name     70
title             0
director_name     4
dtype: int64

In [100]:
movie.shape

(458, 6)

In [97]:
movie = movie.dropna(how='any')

In [99]:
movie.isna().sum()

genres           0
actor_1_name     0
actor_2_name     0
actor_3_name     0
title            0
director_name    0
dtype: int64

In [101]:
movie = movie.rename(columns={'title':'movie_title'})

In [102]:
movie.head(20)

,genres,actor_1_name,actor_2_name,actor_3_name,movie_title,director_name
0,Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Pirates of the Caribbean: Dead Men Tell No Tales,Joachim Rønning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Justice League,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Thor: Ragnarok,Taika Waititi
3,Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,Guardians of the Galaxy Vol. 2,James Gunn
4,Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,The King's Daughter,Sean McNamara
5,Thriller Adventure,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Extinction: Nature Has Evolved,Adam Spinks
6,Drama Comedy,Ali Fazal,Melanie Chandra,Omi Vaidya,For Here or to Go?,Rucha Humnabadkar
7,Action Fantasy Sci-Fi,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Guardians,Sarik Andreasyan
8,Comedy,Victoria Justice,Eden Sher,Ashley Rickards,The Outcasts,Peter Hutchings
9,Action Adventure Fantasy,Gal Gadot,Chris Pine,Robin Wright,Wonder Woman,Patty Jenkins
10,Animation Adventure Comedy Action Family,Chris Murphy,Ian James Corlett,Matt Olsen,Sly Cooper,Kevin Munroe
11,Drama Thriller Sci-Fi,Emma Watson,Tom Hanks,John Boyega,The Circle,James Ponsoldt
12,Comedy,Anna Kendrick,Rebel Wilson,Brittany Snow,Pitch Perfect 3,Trish Sie
14,Horror,Ethan Embry,Shiri Appleby,Kiara Glasco,The Devil's Candy,Sean Byrne
15,Drama,Violeta Castillo,Ingrid Isensee,Mauricio Vaca,Las Plantas,Roberto Doveris
16,Comedy Horror,Asta Paredes,Catherine Corcoran,Zac Amino,"Return to Return to Nuke 'Em High, aka Volume 2",Lloyd Kaufman
17,TV Movie Thriller,Amanda Leighton,Samantha Boscarino,Hannah Kasulka,The Cheerleader Murders,David Jackson
18,Comedy,Demetri Martin,Gillian Jacobs,Christine Woods,Dean,Demetri Martin
19,Horror,Stephen Dorff,Lili Taylor,Sam Strike,Leatherface,Alexandre Bustillo Julien Maury
20,Drama Thriller Horror Adventure,Claire Holt,Mandy Moore,Chris Johnson,47 Meters Down,Johannes Roberts

In [104]:
movie['movie_title']=movie['movie_title'].str.lower()

In [105]:
movie['comb']=movie['genres']+' '+movie['actor_1_name']+movie['actor_2_name']+' '+movie['actor_3_name']+' '+movie['movie_title']+' '+movie['director_name']

In [106]:
movie

,genres,actor_1_name,actor_2_name,actor_3_name,movie_title,director_name,comb
0,Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,pirates of the caribbean: dead men tell no tales,Joachim Rønning Espen Sandberg,Adventure Action Fantasy Comedy Johnny DeppJavier Bardem Geoffrey Rush ...
1,Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,justice league,Zack Snyder,Action Adventure Fantasy Sci-Fi Ben AffleckHenry Cavill Gal Gadot justi...
2,Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,thor: ragnarok,Taika Waititi,Action Adventure Fantasy Sci-Fi Chris HemsworthTom Hiddleston Cate Blan...
3,Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,guardians of the galaxy vol. 2,James Gunn,Action Adventure Comedy Sci-Fi Chris PrattZoe Saldana Dave Bautista gua...
4,Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,the king's daughter,Sean McNamara,Fantasy Action Adventure Pierce BrosnanWilliam Hurt Benjamin Walker the...
...,...,...,...,...,...,...,...
524,Romance Comedy,Jessica Williams,Chris O'Dowd,Keith Stanfield,the incredible jessica james,Jim Strouse,Romance Comedy Jessica WilliamsChris O'Dowd Keith Stanfield the incredi...
525,Romance,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,can't buy my love,Farhad Mann,Romance Adelaide KaneBenjamin Hollingsworth Jean Louisa Kelly can't buy...
526,Romance Comedy,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,thick lashes of lauri mäntyvaara,Hannaleena Hauru,Romance Comedy Inka HaapamäkiRosa Honkonen Tiitus Rantala thick lashes ...
527,Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Gina Holden,cop and a half: new recruit,Jonathan A. Rosenbaum,Crime Comedy Action Family Lou Diamond PhillipsWallace Shawn Gina Holde...
529,Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,mom,Ravi Udyawar,Crime Drama Thriller Sridevi KapoorSajal Ali Akshaye Khanna mom Ravi Ud...

In [107]:
old = pd.read_csv('data.csv')

In [108]:
old['comb']=old['genres']+' '+old['actor_1_name']+old['actor_2_name']+' '+old['actor_3_name']+' '+old['movie_title']+' '+old['director_name']

In [109]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,Action Adventure Fantasy Sci-Fi CCH PounderJoel David Moore Wes Studi a...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Action Adventure Fantasy Johnny DeppOrlando Bloom Jack Davenport pirate...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Action Adventure Thriller Christoph WaltzRory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Action Thriller Tom HardyChristian Bale Joseph Gordon-Levitt the dark k...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Documentary Doug WalkerRob Walker unknown star wars: episode vii - the ...
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy Drama,signed sealed delivered,Comedy Drama Eric MabiusDaphne Zuniga Crystal Lowe signed sealed delive...
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,Crime Drama Mystery Thriller,the following,Crime Drama Mystery Thriller Natalie ZeaValorie Curry Sam Underwood the...
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Drama Horror Thriller,a plague so pleasant,Drama Horror Thriller Eva BoehnkeMaxwell Moody David Chandler a plague ...
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy Drama Romance,shanghai calling,Comedy Drama Romance Alan RuckDaniel Henney Eliza Coupe shanghai callin...
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew,Documentary John AugustBrian Herzlinger Jon Gunn my date with drew Jon ...

In [110]:
new=old.append(movie)

In [111]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,Action Adventure Fantasy Sci-Fi CCH PounderJoel David Moore Wes Studi a...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Action Adventure Fantasy Johnny DeppOrlando Bloom Jack Davenport pirate...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Action Adventure Thriller Christoph WaltzRory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Action Thriller Tom HardyChristian Bale Joseph Gordon-Levitt the dark k...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Documentary Doug WalkerRob Walker unknown star wars: episode vii - the ...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Romance Comedy Jessica WilliamsChris O'Dowd Keith Stanfield the incredi...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Romance Adelaide KaneBenjamin Hollingsworth Jean Louisa Kelly can't buy...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Romance Comedy Inka HaapamäkiRosa Honkonen Tiitus Rantala thick lashes ...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Crime Comedy Action Family Lou Diamond PhillipsWallace Shawn Gina Holde...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Crime Drama Thriller Sridevi KapoorSajal Ali Akshaye Khanna mom Ravi Ud...

In [112]:
new.drop_duplicates(subset='movie_title',keep='last',inplace=True)

In [113]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,Action Adventure Fantasy Sci-Fi CCH PounderJoel David Moore Wes Studi a...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Action Adventure Fantasy Johnny DeppOrlando Bloom Jack Davenport pirate...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Action Adventure Thriller Christoph WaltzRory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Action Thriller Tom HardyChristian Bale Joseph Gordon-Levitt the dark k...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Documentary Doug WalkerRob Walker unknown star wars: episode vii - the ...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Romance Comedy Jessica WilliamsChris O'Dowd Keith Stanfield the incredi...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Romance Adelaide KaneBenjamin Hollingsworth Jean Louisa Kelly can't buy...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Romance Comedy Inka HaapamäkiRosa Honkonen Tiitus Rantala thick lashes ...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Crime Comedy Action Family Lou Diamond PhillipsWallace Shawn Gina Holde...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Crime Drama Thriller Sridevi KapoorSajal Ali Akshaye Khanna mom Ravi Ud...

In [114]:
new.to_csv('new_data.csv',index=False)